In [11]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [21]:
company = 'MSFT'
start = '2010-01-01'
end = '2019-12-31'
stocks = data.DataReader(name=company, data_source='yahoo', start=start, end=end)

In [22]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.739305
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.105360
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.113148
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  23.965164
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.715933

In [24]:
import pandas_datareader as pdr
pdr.get_data_fred('GS10').head()

            GS10
DATE
2016-01-01  2.09
2016-02-01  1.78
2016-03-01  1.89
2016-04-01  1.81
2016-05-01  1.81

In [32]:
stocks.values
stocks.columns
stocks.index[1]
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20',
                '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27',
                '2019-12-30', '2019-12-31'],
               dtype='datetime64[ns]', name='Date', length=2517, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]